

<h1>VFOOD</h1>
<div>
<p>Speak your order</p>
    <form action="submit" method="POST">
        <fieldset>
            <legend></legend>
            <P><input type="submit" name="submit" class="submitbutton" value="Speak"/></P>
            <p>
                <label class="general"></label>
                <textarea name="comment" class="note" rows="3" cols="60" wrap="SOFT"></textarea>
            </p>
            <input type="submit" name="submit" class="submitbutton" value="Order"/>
            <input type="reset" name="reset" class="resetbutton" value="Clear"/> <span style="color:#EE2222"></span>
        </fieldset>
    </form>
</div>