<div id="contact">

       <script>
            function getLocation() {
                event.preventDefault();
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(setPosition, showError);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }
            function setPosition(position) {
                var lng = position.coords.longitude,
                    lat = position.coords.latitude;
                    document.getElementById('curr_long').value = lng;
                    document.getElementById('curr_lat').value = lat;
                    document.getElementById("/recommend").submit();
                }
            function showError(error) {
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        alert("Request for geolocation permission denied.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        alert("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        alert("The request to get user location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        alert("An unknown error occurred.");
                        break;
                }
            }
      </script>
 
    <form action="/recommend" method="post">
       
        <input type="hidden" id="curr_long" name="curr_long">
        <input type="hidden" id="curr_lat" name="curr_lat">

        <input type="text" id="txt" name="txt" value="hardcoded I want beer" />
        <input type="submit" value="Send message" onclick="getLocation()"/>

    </form>
</div>